DATABASE_URL=postgresql://postgres:postgres@postgres:5432/app?schema=api
STRAPI_URL=http://cms:1337
STRAPI_API_TOKEN=
WHATSAPP_ACCESS_TOKEN=
WHATSAPP_PHONE_NUMBER_ID=
WHATSAPP_TEMPLATE_REMINDER=
TIMEZONE=America/Sao_Paulo
